@model Shop.Mvc.Application.Models.ProductCreateModel
@{
    ViewData["Title"] = "Create product";
}

<div class="container">
    <div class="container-box">

        Products:
        @foreach (var producer in Model.Producers)
        {
            <p>@producer.Id (@producer.Name)</p>
        }

        Categories:
        @foreach (var category in Model.Categories)
        {
            <p>@category.Id (@category.Name)</p>
        }

        <form asp-controller="Panel" asp-action="ProductCreate" method="post">
            @Html.EditorFor(e => e.CreateProductCommand.Name)
            @Html.EditorFor(e => e.CreateProductCommand.NetPrice)
            @Html.EditorFor(e => e.CreateProductCommand.Tax)
            @Html.EditorFor(e => e.CreateProductCommand.CategoryId)
            @Html.EditorFor(e => e.CreateProductCommand.ProducerId)
            @Html.EditorFor(e => e.CreateProductCommand.ProducerCode)
            @Html.TextAreaFor(e => e.CreateProductCommand.Description)
            @Html.TextAreaFor(e => e.CreateProductCommand.Specification)
            <button type="submit">Post</button>
        </form>
    </div>
</div>
