@model Shop.Mvc.Application.Commands.Orders.CreateOrderCommand

<form asp-controller="Orders" asp-action="Index" method="post">
    <div class="form-group">
        <label for="clientFullName">Your name</label>
        <input asp-for="@Model.ClientFullName" type="text" class="form-control" id="clientFullName" placeholder="Jan Kowalski" required />
    </div>
    <div class="form-group">
        <label for="address">Address</label>
        <input asp-for="@Model.Address" type="text" class="form-control" id="address" placeholder="Hoża 33/8" required />
    </div>
    <div class="form-group">
        <label for="city">City</label>
        <input asp-for="@Model.City" type="text" class="form-control" id="city" placeholder="Warsaw" required />
    </div>
    <div class="form-group">
        <label for="postalCode">Postal code</label>
        <input asp-for="@Model.PostalCode" type="text" class="form-control" id="postalCode" placeholder="00-023" required />
    </div>
    <div class="form-group">
        <label for="phoneNumber">Phone number</label>
        <input asp-for="@Model.PhoneNumber" type="text" class="form-control" id="phoneNumber" placeholder="+48 123-456-789" required />
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input asp-for="@Model.Email" type="email" class="form-control" id="email" placeholder="email@example.com" required />
    </div>
    <input type="submit" class="btn btn-outline-dark btn-lg btn-block" value="Order" />
</form>